.root_cart_width{
    max-width: 1260px;
    margin: 0 auto;
}
body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
}
.cart_container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
    display: flex;
    flex-direction: row;
}
.heading1{
    font-size: 16px;
    color: #212121;
    line-height: 1;
    display: inline;
}
.rating_star{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 0px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
    vertical-align: middle;
    background-color: #388e3c;
}
.rating_rewies{
    display: block;
    color: #878787;
    font-size: 14px;
    height: 20px;
}
.rating_star img{
    margin: 2px 0 0 2px;
    height: 10px;
}
.extra_offer{
    font-weight: 500;
    text-align: left;
    color: #388e3c;
    margin: 12px 0 -12px;
}
.exact_money{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    vertical-align: sub;
}
.extra_money{
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    text-decoration: line-through;
}
.percent_off{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    vertical-align: middle;
    letter-spacing: -.2px;
    display: inline-block;
}
.info_btn{
    margin: 2px 0 0 8px;
    cursor: pointer;
}
.root_cart{
    width: 68%;
    display: flex;
    flex-direction: column;
}
.price_details{
    width: 32%;
    padding: 0px 0px 0px 16px;
    flex-flow: column;
}
.root_my_cart{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.my_cart{
    width: 30%;
}
.my_cart h3{
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;
}
.deliver_to{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.deliver_to img{
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
}
.del_to{
    margin-left: 8px;
    font-weight: 500;
    color: #878787;
}
.del_pincode{
    color: #878787;
    padding: 0 0 6px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #2874f0;
    font-weight: 500;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-block;
    line-height: 25px;
    outline: none;
    box-shadow: none;
    width: 160px;
}
.del_check{
    color: #878787;
    cursor: not-allowed;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    border-bottom: 2px solid #2874f0;
    display: inline-block;
    padding-bottom: 6px;
    line-height: 25px;
}
.pro_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_info{
    padding: 0 24px 12px;
    vertical-align: top;
    min-height: 112px;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
    max-width: 460px;
}
.pro_heading{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.paise{
    text-decoration: line-through;
}
.del_free{
    margin-right: 5px;
    color: #388e3c;
}
.negative{
    color: #c2c2c2;
    border-color: #e0e0e0;
    cursor: auto;
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.inc_box{
    display: inline-block;
    padding: 3px 6px;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}
.inc_box input{
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.positive{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.save_later{
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
}
.bread_pro{
    display: flex;
    flex-direction: row;
}
.add_to_cart_pro{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    border-top: 1px solid #f0f0f0!important;
    padding: 24px;
    position: relative;
    background: #fff;
    max-width: 950px;
}
.increase_pro{
    display: flex;
    flex-direction: row;
}
.save_for_later{
    margin: 3px 0px 0px 24px;
}
.place_order{
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
    justify-content: end;
    display: flex;
}
.place_order button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
    padding: 16px 30px;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.pad_price{
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background: white;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.price_det{
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    padding: 13px 24px;
    font-weight: 500;
    color: #878787;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #f0f0f0;
}
.discount{
    padding: 0 24px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.flex_between{
    display: flex;
    justify-content: space-between;
}
.margin_detail{
    margin: 20px 0;
}
.green_pro{
    color: #388e3c;
}
.killer{
    border-top: 1px dashed #e0e0e0;
    padding: 12px 24px;
    font-size: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 2px;
    color: #388e3c;
    font-weight: 500;
}